{% extends "baseBack.html.twig" %}
{% block content %}

    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">Moyen de transport</h6>
        </div>
        <div>
            <a  style=" position:absolute;right:10%;top:1% ;" class="btn btn-icon waves-effect waves-light btn-success m-b-5" href="{{ path('transport_new') }}"> <i class="fa fa-plus dark"></i> </a>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table id="datatable" class="table table-bordered">

                <thead>
                                <th>Libelle</th>
                                <th>type</th>
                                <th>capacite</th>
                                <th>description</th>
                                <th>status</th>
                                <th>image</th>
                                <th>tarif</th>
                                <th>agence</th>
                                <th>edit</th>
                                <th>delete</th>

                                </thead>
                                {% for u in transport  %}
                                <tbody>
                                <td>{{ u.libelle }}</td>
                                <td>{{ u.type }}</td>
                                <td>{{ u.capacite }}</td>
                                <td>{{ u.description }}</td>
                                <td>{{ u.status }}</td>

                                <td><img src="{{ asset('uploads/transport/'~ u.image)  }}" alt="" width="50">
                                <td>{{ u.tarifjourne }}</td>
                                <td>
                                    <span class="badge badge-primary badge-pill">{{u.idagence.libelle}}</span>

                                </td>
                                </td>
                                <td>

                                    <a type="button" href="{{ path('modifytransport', {'id': u.id}) }}" class="btn btn-primary btn-icon rounded-pill"><i class=" dripicons-document-edit">Edit</i></a>
                                </td>
                                <td>
                                    <form method="post" action="{{ path('transport_delete', {'id': u.id}) }}"  onsubmit="return confirm('Voulez vous supprimer cette agence ?')">
                                        <input type="hidden" name="_method" value="SUP">
                                        <input type="hidden" name="_token" value="{{u.id }}">
                                        <button type="submit" value="supprimer" class="btn btn-danger btn-icon  rounded-pill"><i class="ti-trash">Delete</i></button>
                                    </form>
                                </td>
                                </tbody>
                                {% endfor %}
                            </table>
                        </div>
                    </div>
            </div>
        </div>
    </div>
{% endblock %}
