 {% extends 'baseBack.html.twig' %}


{# {% block content %}#}

   {#  <div class="modal fade" id="modalRegisterForm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header text-center">
                    <h4 class="modal-title w-100 font-weight-bold">Sign up</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body mx-3">
                    <div class="md-form mb-5">
                        <i class="fas fa-user prefix grey-text"></i>
                        <input type="text" id="orangeForm-name" class="form-control validate">
                        <label data-error="wrong" data-success="right" for="orangeForm-name">Your name</label>
                    </div>
                    <div class="md-form mb-5">
                        <i class="fas fa-envelope prefix grey-text"></i>
                        <input type="email" id="orangeForm-email" class="form-control validate">
                        <label data-error="wrong" data-success="right" for="orangeForm-email">Your email</label>
                    </div>

                    <div class="md-form mb-4">
                        <i class="fas fa-lock prefix grey-text"></i>
                        <input type="password" id="orangeForm-pass" class="form-control validate">
                        <label data-error="wrong" data-success="right" for="orangeForm-pass">Your password</label>
                    </div>

                </div>
                <div class="modal-footer d-flex justify-content-center">
                    <button class="btn btn-deep-orange">Sign up</button>
                </div>
            </div>
        </div>
    </div>

    <div class="text-center">
        <a href="" class="btn btn-default btn-rounded mb-4" data-toggle="modal" data-target="#modalRegisterForm">Launch
            Modal Register Form</a>
    </div>#}
   {#
    <h1>Nouveau utilisateur</h1>

    {{ form_start(form,{'attr':{'novalidate': 'novalidate'}}) }}

    {{ form_label(form.nom,'nom') }}

    {{ form_widget(form.nom,{'attr':{
        'class':'nom','placeholder':'Veuillez entrer nom'
    }}) }}
    {{ form_errors(form.nom) }}
    <br>

    {{ form_label(form.prenom, 'prenom') }}

    {{ form_widget(form.prenom,{'attr':{
        'class':'prenom','placeholder':'Veuillez entrer le prenom'
    }}) }}
    {{ form_errors(form.prenom) }}
    <br>
    {{ form_label(form.email,'email') }}

    {{ form_widget(form.email,{'attr':{
        'class':'email','placeholder':'Veuillez entrer le email'
    }}) }}
    {{ form_errors(form.email) }}
    <br>
    {{ form_label(form.datedenaissance,'datedenaissance') }}

    {{ form_widget(form.datedenaissance,{'attr':{
        'class':'datedenaissance','placeholder':'Veuillez entrer datedenaissance'
    }}) }}
    {{ form_errors(form.datedenaissance) }}
    <br>
    {{ form_label(form.numtel,'numtel') }}

    {{ form_widget(form.numtel,{'attr':{
        'class':'numtel','placeholder':'Veuillez entrer le num tel'
    }}) }}
    {{ form_errors(form.numtel) }}

    <br>
    {{ form_label(form.ville,'ville') }}

    {{ form_widget(form.ville,{'attr':{
        'class':'ville','placeholder':'Veuillez entrer ville'
    }}) }}
    {{ form_errors(form.ville) }}

    <br>
    {{ form_label(form.mdp,'password') }}

    {{ form_widget(form.mdp,{'attr':{
        'class':'mdp','placeholder':'Veuillez entrer mdp'
    }}) }}
    {{ form_errors(form.mdp) }}
    <br>
    <br>
    {{ form_label(form.Confirm_Password,'confirm password') }}

    {{ form_widget(form.Confirm_Password,{'attr':{
        'class':'Confirm_Password','placeholder':'Veuillez entrer mdp'
    }}) }}
    {{ form_errors(form.Confirm_Password) }}
    <br>
    {{ form_label(form.image,'image') }}

    {{ form_widget(form.image,{'attr':{
        'class':'image','placeholder':'Veuillez entrer l image'
    }}) }}
    {{ form_errors(form.image) }}
    <br>

    <button class="btn">{{ button_label|default('inscrire') }}</button>
    {{ form_end(form) }}



{% endblock %}#}
{#
{% block content %}
     <link rel="stylesheet" href="{{ asset('front/css/test.css')}}">
<div class="container" id="container">
    <div class="form-container sign-up-container">
        <form action="#">
            <h1>Create Account</h1>
            <div class="social-container">
                <a href="#" class="social"><i class="fab fa-facebook-f"></i></a>
                <a href="#" class="social"><i class="fab fa-google-plus-g"></i></a>
                <a href="#" class="social"><i class="fab fa-linkedin-in"></i></a>
            </div>
            <span>or use your email for registration</span>
            <input type="text" placeholder="Name" />
            <input type="email" placeholder="Email" />
            <input type="password" placeholder="Password" />
            <input type="password" placeholder="Password" />
            <input type="password" placeholder="Password" />
            <button>Sign Up</button>
        </form>
    </div>
    <div class="form-container sign-in-container">
        <form action="#">
            <h1>Sign in</h1>
            <div class="social-container">
                <a href="#" class="social"><i class="fab fa-facebook-f"></i></a>
                <a href="#" class="social"><i class="fab fa-google-plus-g"></i></a>
                <a href="#" class="social"><i class="fab fa-linkedin-in"></i></a>
            </div>
            <span>or use your account</span>
            <input type="email" placeholder="Email" />
            <input type="password" placeholder="Password" />
            <a href="#">Forgot your password?</a>
            <button>Sign In</button>
        </form>
    </div>
    <div class="overlay-container">
        <div class="overlay">
            <div class="overlay-panel overlay-left">
                <h1>Welcome Back!</h1>
                <p>To keep connected with us please login with your personal info</p>
                <button class="ghost" id="signIn">Sign In</button>
            </div>
            <div class="overlay-panel overlay-right">
                <h1>Hello, Friend!</h1>
                <p>Enter your personal details and start journey with us</p>
                <button class="ghost" id="signUp">Sign Up</button>
            </div>
        </div>
    </div>
</div>
<script src="{{ asset('front/js/testJs.js')}}"></script>
{% endblock %}#}


{% block content %}

{% endblock %}
