{% extends 'baseBack.html.twig' %}
{% block content %}

    <h1>Destination</h1>
<hr><hr>
    <table class="table">
        <tbody>

            <tr>
                <th>Pays</th>
                <td>{{ destination.pays }}</td>
            </tr>
            <tr>
                <th>Ville</th>
                <td>{{ destination.ville }}</td>
            </tr>
            <tr>
                <th>Image</th>
                <td>
                    <img src="{{ asset('images/' ~ destination.img) }}" width="50" height="50">
                </td>

            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_destination_index') }}">Retour à la liste</a>

    <a href="{{ path('app_destination_edit', {'id': destination.id}) }}">Modifier</a>

    {{ include('destination/_delete_form.html.twig') }}
{% endblock %}
