{% extends 'baseBack.html.twig' %}

{% block content %}
    <h1>Ajouter un blog</h1>
    <br>
    <br>
    {{ form_start(form,{'attr':{'novalidate':'novalidate'}}) }}

    {{ form_label(form.nom,'Nom') }}
    <br>
    {{ form_widget(form.nom,{'attr':{'class':'nom','placeholder':'nom'}}) }}


    <br>
    {{ form_label(form.description,'Description') }}
    {{ form_widget(form.description,{'attr':{'class':'description','placeholder':'description'}}) }}

    <br>
    {{ form_label(form.image,'Image') }}
    {{ form_widget(form.image,{'attr':{'class':'image','placeholder':'image'}}) }}

    <br>
    {{ form_end(form) }}

    <br>
    <a href="{{ path('app_blog_index') }}">Retour à la liste des blogs</a>
{% endblock %}
