{% extends 'baseBack.html.twig' %}



{% block content %}
    <h1>Blog</h1>

    <table class="table">
        <tbody>

            <tr>
                <th>Nom</th>
                <td>{{ blog.nom }}</td>
            </tr>
            <tr>
                <th>Date</th>
                <td>{{ blog.date ? blog.date|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ blog.description }}</td>
            </tr>
            <tr>
                <th>Image</th>
                <td><img src="{{ asset('images/' ~ blog.image) }}" width="50" height="50"></td>
            </tr>
            <tr>
                <th> </th>
                <td><a href="{{ path('app_blog_edit', {'id': blog.id}) }}"> <i class="fa fa-pen"></i></a></td>
                <td>    {{ include('blog/_delete_form.html.twig') }} </td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_blog_index') }}">Retour à la liste des blogs</a>



{% endblock %}
