{% extends 'baseBack.html.twig' %}


{% block content %}
    <h1>Blog</h1>

    <table class="table">
        <tbody>

            <tr>
                <th>Nom</th>
                <td>{{ blog.nom }}</td>
            </tr>
            <tr>
                <th>Date</th>
                <td>{{ blog.date ? blog.date|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ blog.description | raw }}</td>
            </tr>
            <tr>
                <th>Image</th>
                <td><img src="{{ asset('images/' ~ blog.image) }}" width="50" height="50"></td>
            </tr>
        <tr>
            <th>Client</th>
            <td>{{ blog.idclient.nom }}</td>
        </tr>

        </tbody>
    </table>

    <a href="{{ path('app_blog_index') }}">Retour à la liste des blogs</a>



{% endblock %}
