{% extends 'base.html.twig' %}


{% block content %}
    <div id="fh5co-tours" class="fh5co-section-gray">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-md-offset-2 text-center heading-section animate-box">
                    <h3>Réserver un vol</h3>
                    <p> L'instant le plus heureux d'une vie humaine est le départ vers une terre inconnue.</p>
                </div>
            </div>
            <div class="row row-bottom-padded-md">

                <div class="col-md-12 animate-box">
                    <div class="row">
                        <div class="col-md-12">
                            <h2>Le monde est un livre, et ceux qui ne voyagent pas ne lisent qu'une seule page</h2>
                        </div>


                    </div>
                </div>

            </div>
            {% for hotel in hotels %}
            <div class="row row-bottom-padded-md">
                <div class="col-md-4 col-sm-4 fh5co-tours animate-box" data-animate-effect="fadeIn">
                    <div href="#"><img src="{{ asset('images/' ~ hotel.imghotel ) }}" alt="{{ hotel.nom }}" class="img-responsive">
                        <div class="desc">
                            <span></span>
                            <h3>{{ hotel.nom }}</h3>
                            <h3>{{ hotel.nbretoile }} étoiles</h3>

                            <span class="price">{{ hotel.iddestination.pays }}</span>

                        </div>
                    </div>
                </div>
                {% endfor %}




            </div>
        </div>
    </div>
{% endblock %}
