{% extends 'baseBack.html.twig' %}
{% block content %}

    <a  class="btn btn-primary " href="{{ path('statHotel') }}">Statistiques</a>     <br>    <br>  <br>
    <h1>Liste de nos hôtels</h1>
    <br>


    <br>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Matricule fiscal</th>
                <th>Nom</th>
                <th>Nombre des étoiles</th>
                <th>Description</th>
                <th>Destination</th>

                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for hotel in hotels %}
            <tr>

                <td>{{ hotel.matriculefiscale }}</td>
                <td>{{ hotel.nom }}</td>
                <td>{{ hotel.nbretoile }}</td>
                <td>{{ hotel.description | raw }}</td>

                <td>{{ hotel.iddestination.pays }}</td>
                <td>
                    <a  class="btn btn-primary " href="{{ path('app_hotel_show', {'idhotel': hotel.idhotel}) }}">Détails</a>
                    <a  class="btn btn-primary " href="{{ path('app_hotel_edit', {'idhotel': hotel.idhotel}) }}">Modifier</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="9">Pas d'hôtels trouvés</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a  class="btn btn-primary " href="{{ path('app_hotel_new') }}">Ajouter un hôtel</a>
{% endblock %}
