{% extends 'base.html.twig' %}


{% block content %}
    <div id="fh5co-tours" class="fh5co-section-gray">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-md-offset-2 text-center heading-section animate-box">
                    <h3>Réserver un vol</h3>
                    <p> L'instant le plus heureux d'une vie humaine est le départ vers une terre inconnue.</p>
                </div>
            </div>
            <div class="row row-bottom-padded-md">

                <div class="col-md-12 animate-box">
                    <div class="row">
                        <div class="col-md-12">
                            <h2>Le monde est un livre, et ceux qui ne voyagent pas ne lisent qu'une seule page</h2>
                            <br>
                            <br>
                            <h2>List de nos hôtels dans la destination choisie</h2>
                        </div>
                    </div>
                </div>
                <a href="/hotel/{{ id }}/hotel/Desc" > Desc</a>
                 <a href="/hotel/{{ id }}/hotel/Asc" > ASC</a>

            </div>
            {% for hotel in hotels %}
            <div class="row row-bottom-padded-md">
                <div class="col-md-3 col-sm-1 fh5co-tours animate-box" data-animate-effect="fadeIn">
                    <div href="#">
                            <img src="{{ asset('images/' ~ hotel.imghotel ) }}"
                                 alt="{{ hotel.nom }}" class="img-responsive" height="50" width="600" >
                        <div class="desc">
                            <span></span>
                            <h3>{{ hotel.nom }}</h3>
                            <h3>Ville: {{ hotel.nbretoile}}  étoiles</h3>
                            <a class="btn btn-primary " href="{{ path('ReservationCh') }}">  Réserver </a>

                        </div>
                    </div>
                </div>
                {% endfor %}

            </div>
        </div>
    </div>
{% endblock %}
