{% extends 'baseBack.html.twig' %}
{% block content %}
    <h1>Créer un nouveau hôtel</h1>
<br> <br>
    {{ form_start(form,{'attr':{'novalidate': 'novalidate'}}) }}

    {{ form_label(form.matriculefiscale,'Matricule fiscal') }}

    {{ form_widget(form.matriculefiscale,{'attr':{
        'class':'matriculefiscale','placeholder':'Veuillez entrer la matricule fiscal','novalidate': 'novalidate'
    }}) }}

    <br>

    {{ form_label(form.nom, 'Libelle') }}

    {{ form_widget(form.nom,{'attr':{
        'class':'nom','placeholder':'Veuillez entrer le libelle','novalidate': 'novalidate'
    }}) }}

    <br>
    {{ form_label(form.nbretoile,'Nombre des étoiles') }}

    {{ form_widget(form.nbretoile,{'attr':{
        'class':'nbretoile','placeholder':'Veuillez entrer le nombre des *','novalidate': 'novalidate'
    }}) }}

    <br>
    {{ form_label(form.description,'Description') }}

    {{ form_widget(form.description,{'attr':{
        'class':'description','placeholder':'Veuillez entrer la description','novalidate': 'novalidate'
    }}) }}


    <br>
    {{ form_label(form.nbchambretotal,'Le nombre des chambres réservées') }}

    {{ form_widget(form.nbchambretotal,{'attr':{
        'class':'nbchambretotal','placeholder':'Veuillez entrer le nbr des chambres réservées','novalidate': 'novalidate'
    }}) }}


    <br>
    {{ form_label(form.maxchambre,'Le nombre des chambres total') }}

    {{ form_widget(form.maxchambre,{'attr':{
        'class':'maxchambre','placeholder':'Veuillez entrer le nbr des chambres total','novalidate': 'novalidate'
    }}) }}

    <br>
    {{ form_label(form.imghotel,'Image') }}

    {{ form_widget(form.imghotel,{'attr':{
        'class':'imghotel','placeholder':'Veuillez entrer l image','novalidate': 'novalidate'
    }}) }}

    <br>
    {{ form_label(form.iddestination, 'Destination')  }}

    {{ form_widget(form.iddestination,{'attr':{
        'class':'iddestination','placeholder':'Veuillez entrer le pays','novalidate': 'novalidate'
    }}) }}

    <br>

    {{ form_end(form) }}



    <a href="{{ path('app_hotel_index') }}">Retour à la liste</a>
{% endblock %}
