{% extends 'base.html.twig' %}

{% block content %}

    <div class="container">
        <!-- Page Heading/Breadcrumbs -->
        <p class="mt-4 mb-4">
            <br>
        </p>

        <div class="row">
            <div class="col-lg-8">

                <h1><strong>{{ blog.nom | upper}}</strong></h1>
                <!-- Preview Image -->
                <hr>
                <!-- Date/Time -->
                <p>Publier le {{ blog.date ? blog.date|date('Y-m-d') : '' }}
                    </p>
                <hr>
                <div class="zoom" >
                    <p class="desc"> {{ blog.description | raw }}</p>
                </div>
                <div class="photoo">
                    <div class="zoom">
                        <img class="img-responsive" src="{{ asset('images/' ~ blog.image) }}" alt="travel">
                    </div>
                </div>
            </div>

            {% if app.user == blog.idclient %}
            <a href="{{ path('app_blog_edit', {'id': blog.id}) }}"><i class="icon-pencil"> </i> Modifier</a>
              <a> {{ include('blog/_delete_form.html.twig') }}  </a>
            {% endif %}
            <a href="{{ path('app_blog_indexfront') }}">Retour à la liste des blogs</a>


        </div>
    <!--commentaire-->
    <div class="card my-4">
        <div class="card-body">

                <div class="form-group">

                    {{ form_start(forms,{'attr':{'novalidate':'novalidate'}}) }}
                    {{ form_label(forms.description,'Laissez un commentaire') }}
                    {{ form_widget(forms.description,{'attr':{'class':'description','placeholder':'description'}}) }}

                    {{ form_end(forms) }}

                </div>


        </div>
    </div>

    </div>





    </div>
    <div id="fh5co-testimonial" >
        <div class="container">
            <div class="row animate-box">
                <div class="col-md-8 col-md-offset-2 text-center fh5co-heading">
                    <h2>Happy Clients</h2>
                </div>
            </div>
            {% for commentaire in commentaires %}
            <div class="row">
                <div class="col-md-4">
                    <div class="box-testimony animate-box">
                        <blockquote>
                            <span class="quote"><span><i class="icon-quotes-right"></i></span></span>

                            {{ commentaire.description }}

                                <div class="btn">

                                 {#    <a href="{{ path('app_commentaire_edit', {'id': commentaire.id}) }}"> <i  class="icon-pencil"> </i></a>
                                 #}
                                    {% if app.user == blog.idclient %}
                                    {{ include('commentaire/_delete_form.html.twig') }}
                                    {% endif %}
                                </div>


                        </blockquote>
                       <p class="author">{{ commentaire.idclient.nom }} {{ commentaire.idclient.prenom }}</p>


                    </div>
                    {% endfor %}
        <!-- Comments section-->




    </div></div>
    </div>


{% endblock %}