{% extends 'baseBack.html.twig' %}


{% block content %}


    <div class="row" style="display: flex;align-items: center;justify-content: center;margin-top: 150px;">

        <div class="col-lg-6">

            <div class="card">
                <div class="card-body">
                    <a href="{{ path('addGuide') }}"><i class="ri-arrow-left-circle-fill" style="font-size: 50px;"></i></a>
                    <h5 class="card-title">Liste des Guides</h5>

                    <!-- Table with stripped rows -->
                    <div  style="display: flex;align-items: center;justify-content: center;margin-bottom: 100px;margin-top: 10px; padding: 15px;">
                    <table class="table table-striped">
                        <thead>
                        <tr>
                            <th>Nom</th>
                            <th>Prenom</th>
                            <th>Nationnalite</th>
                            <th>Email</th>
                            <th>Langue</th>
                            <th>Modification</th>
                            <th>Suppression</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for guide in b %}
                            <tr>
                                <td>{{ guide.nom }}</td>
                                <td>{{ guide.pernom }}</td>
                                <td>{{ guide.nationnalite }}</td>
                                <td>{{ guide.email }}</td>
                                <td>{{ guide.langue }}</td>
                                <td>
                                    <a class="btn btn-success" href="{{ path('modifguide',{'id':guide.id}) }}">Modifier</a>
                                </td>
                                <td>
                                    <a class="btn btn-danger" href="{{ path('supp_guide',{'id':guide.id}) }}">Supprimer</a>
                                </td>

                            </tr>

                        {% endfor %}

                        </tbody>
                    </table>
                    <!-- End small tables -->

                </div>
            </div>

        </div>



    </div>
{% endblock %}